# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/
.eggs/

# Virtual environments
.env
.venv
env/
venv/
ENV/

# IDE settings
.idea/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints

# Testing
.pytest_cache/
.coverage
htmlcov/

# Project specific
data/*
.local

# Logs
*.log
